@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Sample Webapp for AdHocTestingEnvironment Portal</p>

    <h2>Some debugging</h2>
    <ul>
        <li>Host: @ViewContext.HttpContext.Request.Host</li>
        <li>Path: @ViewContext.HttpContext.Request.Path</li>
        <li>QueryString: @ViewContext.HttpContext.Request.QueryString</li>        
    </ul>

</div>
